<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nphan.android.stockdiary">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controller.MainMenuActivity"
            android:theme="@style/MainMenuTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.WatchlistActivity" />
        <activity android:name=".controller.StockSearchActivity" />
        <activity android:name=".controller.StockDetailActivity" />
        <activity android:name=".controller.TransactionDetailActivity"></activity>
    </application>

</manifest>